<h1>Hello, {{name}}</h1>
<h2>System Requests</h2>
<table>
    <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Status</th>
        <th></th>
        <th></th>   
    </tr>
    {{#each requests}}
        <tr>
            <th>{{this.username}}</th>
            <th>{{this.name}}</th>
            <th>{{this.status}}</th>
            <th>
                <form method="post">
                    <button type="submit" name="grant" value="{{this._id}}">
                        Grant
                    </button>
                    <button type="submit" name="reject" value="{{this._id}}">
                        Reject
                    </button>
                </form>
            </th>
            <th></th>
        </tr>
    {{/each}}
</table>
<form method="post" action="/logout">
    <button type="submit">
        Logout
    </button>
</form>